{% extends 'base.html' %}

{% block title %}{{ block.super }}{% endblock title %}





{% block content %}

<h2>Welcome to the Gym</h2>
<h3>Here are the type of subscription you can have:</h3>

<form class="mb-3">
    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search Product Title</button>
</form>

<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for product in products %}
          <div class="col">
            <div class="card shadow-sm">
                <img  alt="">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{product.image.url}}" alt="{{product.title}}" preserveAspectRatio="xMidYMid slice" focusable="false" >
  
              <div class="card-body">
                <h4 class="card-text center">{{product.title}}</h4>
                <p class="card-text">{{product.content}}</p>
                <p class="card-text">${{product.price}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'products:product_details' pk=product.pk %}" class="btn btn-sm btn-outline-secondary">View</a>
                    {% if request.session.downloadable_product_id == product.pk %}
                    <a href="{% url 'download' %}" class="btn btn-sm btn-outline-secondary">Download</a>
                    {% endif %}
                  </div>
                  {% comment %} <a href="{% url 'products:product_details' pk=product.pk %}" class="btn btn-sm btn-primary">Purchase</a> {% endcomment %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  
  </main>

{% endblock content %}